<mat-card>

    <mat-card-header>
        <mat-card-title>Personajes</mat-card-title>
        <mat-card-subtitle>Listado de personajes</mat-card-subtitle>

        <div class="actions">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="tableModal.open()">
                    <mat-icon>assignment</mat-icon>
                    <span>Solicitudes</span>
                </button>
                <button mat-menu-item (click)="formModal.open()">
                    <mat-icon>person_add</mat-icon>
                    <span>Ingresar Solicitud</span>
                </button>
            </mat-menu>
        </div>
    </mat-card-header>

    <mat-card-content>

        <div *ngIf="loading" class="loader">
            <mat-spinner></mat-spinner>
        </div>

        <div [hidden]="loading">

            <mat-form-field>
                <mat-label>Filtrar</mat-label>
                <input 
                matInput 
                (keyup)="applyFilter($event)" 
                placeholder="Filter by name, patronus, age..." #input>
            </mat-form-field>
            
            <!-- <div class="mat-elevation-z8"> -->
                <table mat-table [dataSource]="dataSource" matSort>
            
                    <!-- ID Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>
                
                    <!-- Progress Column -->
                    <ng-container matColumnDef="patronus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patronus </th>
                        <td mat-cell *matCellDef="let row"> {{row.patronus}} </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                        <td mat-cell *matCellDef="let row"> {{row.age}} </td>
                    </ng-container>
                
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> Image </th>
                        <td mat-cell *matCellDef="let row">
                            <img class="avatar" [src]="row.image" [alt]="row.name">
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
            
                <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
            </div>
        <!-- </div> -->

    </mat-card-content>
</mat-card>

<app-modal
#formModal
title="Ingresar Solicitud"
(onconfirm)="agregarSolicitud()">

    <form [formGroup]="addForm">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Casa</mat-label>
            <mat-select formControlName="house">
                <mat-option value="gryffindor">Gryffindor</mat-option>
                <mat-option value="hufflePuff">HufflePuff</mat-option>
                <mat-option value="ravenclaw">Ravenclaw</mat-option>
                <mat-option value="slytherin">Slytherin</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input readonly formControlName="dateOfBirth" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>

</app-modal>

<app-modal
#tableModal
title="Solicitudes">

    <ol *ngIf="solicitudes.length">
        <li *ngFor="let s of solicitudes">{{s.name}} - <em>({{s.house}})</em></li>
    </ol>

    <p *ngIf="!solicitudes.length">No hay datos disponibles</p>

</app-modal>