<mat-card>

    <mat-card-title>Personajes</mat-card-title>
    <mat-card-subtitle>Listado de personajes</mat-card-subtitle>

    <mat-form-field appearance="fill">
        <mat-label>Casa</mat-label>
        <mat-select [(ngModel)]="casa" (selectionChange)="listar()">
        <mat-option value="gryffindor">Gryffindor</mat-option>
        <mat-option value="hufflePuff">HufflePuff</mat-option>
        <mat-option value="ravenclaw">Ravenclaw</mat-option>
        <mat-option value="slytherin">Slytherin</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-card-content>

        <div *ngIf="loading" class="loader">
            <mat-spinner></mat-spinner>
        </div>

        <div [hidden]="loading">

            <mat-form-field>
                <mat-label>Filtrar</mat-label>
                <input 
                matInput 
                (keyup)="applyFilter($event)" 
                placeholder="Filter by name, patronus, age..." #input>
            </mat-form-field>
            
            <table mat-table [dataSource]="dataSource" matSort>
        
                <!-- ID Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="patronus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Patronus </th>
                    <td mat-cell *matCellDef="let row"> {{row.patronus}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                    <td mat-cell *matCellDef="let row"> {{row.age}} </td>
                </ng-container>
            
                <!-- Fruit Column -->
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> Image </th>
                    <td mat-cell *matCellDef="let row">
                        <img class="avatar" [src]="row.image" [alt]="row.name">
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>

    </mat-card-content>
</mat-card>