<mat-toolbar color="primary">

    <mat-toolbar-row fxLayoutAlign.lt-sm="center center">
        
        <a 
        mat-button 
        [disableRipple]="false"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        (click)="activeLink = '/'"> Inicio </a>
        
        <span fxHide.lt-sm class="spacer"></span>

        <nav fxHide.lt-sm>
            <ng-container *ngTemplateOutlet="menu"></ng-container>
        </nav>

    </mat-toolbar-row>

    <!-- Responsive Menu -->
    <mat-toolbar-row fxLayoutAlign="center center" fxHide.gt-xs>
        <ng-container *ngTemplateOutlet="menu"></ng-container>
    </mat-toolbar-row>
    
</mat-toolbar>



<!-- Menu -->
<ng-template #menu>
    <a 
    mat-button 
    *ngFor="let link of links"
    [disableRipple]="false"
    [routerLink]="link.path"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    (click)="activeLink = link.path"> {{link.title}} </a>
</ng-template>