/* You can add global styles to this file, and also import other style files */
* {box-sizing: border-box;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table, mat-form-field { width:100%; }

th.mat-header-cell {
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.avatar {
    margin-top: 7px;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}






.fade {
    visibility: hidden;
    opacity: 0;
}
.fade.show {
    visibility: visible;
    opacity: 1;
}

.slide {
    margin-top: -100px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
.slide.down {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
    position: static;
}

/* Remove animations for safari */
@supports not (-webkit-backdrop-filter: blur(1px)) {
    .fade {
        -webkit-transition: .15s;
        transition: .15s;
        /* visibility: hidden; */
    }
    .slide {
        -webkit-transition: .15s;
        transition: .15s;
        /* visibility: hidden; */
    }
}